//flex
=flex-justify($justify-content)
  display: flex
  justify-content: $justify-content

=flex-align($align-items)
  display: flex
  align-items: $align-items

=flex-flow($flex-flow)
  display: flex
  flex-flow: $flex-flow

=flex-justify-align($justify-content, $align-items)
  display: flex
  justify-content: $justify-content
  align-items: $align-items

=flex-justify-align-flow($justify-content, $align-items, $flex-flow)
  display: flex
  justify-content: $justify-content
  align-items: $align-items
  flex-flow: $flex-flow
=flex-basis($flex-basis)
  display: flex
  flex-basis: $flex-basis

//font
=text-properties($font-size, $font-family, $color, $font-weight)
  font-size: $font-size
  font-family: $font-family
  color: $color
  font-weight: $font-weight

=text-size-color($font-size, $color)
  font-size: $font-size
  color: $color
